@font-face
  font-family 'Proxima Nova Soft'
  src url('/fonts/ProximaNovaSoft-Regular.eot')
  src local('☺'), url('/fonts/ProximaNovaSoft-Regular.woff') format('woff'), url('/fonts/ProximaNovaSoft-Regular.ttf') format('truetype'), url('/fonts/ProximaNovaSoft-Regular.svg') format('svg')
  font-weight normal
  font-style normal
@font-face
  font-family 'SanFrancisco'
  src url('/fonts/SanFranciscoText-Light.eot')
  src url('/fonts/SanFranciscoText-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SanFranciscoText-Light.woff') format('woff'),
	url('/fonts/SanFranciscoText-Light.ttf') format('truetype')
  font-weight 300
  font-style normal
@font-face
  font-family 'San Francisco Text'
  src url('/fonts/SanFranciscoText-Regular.eot')
  src url('/fonts/SanFranciscoText-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SanFranciscoText-Regular.woff') format('woff'),
	url('/fonts/SanFranciscoText-Regular.ttf') format('truetype')
  font-weight normal
  font-style normal
@font-face
  font-family 'San Francisco Text'
  src url('/fonts/SanFranciscoText-Medium.eot')
  src url('/fonts/SanFranciscoText-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/SanFranciscoText-Medium.woff') format('woff'),
	url('/fonts/SanFranciscoText-Medium.ttf') format('truetype')
  font-weight 500
  font-style normal

body, html, main
  width 100%
  height  100%
  margin 0
  padding 0
  background #f8f8fc
  font-family "San Francisco Text"

h1, h2, h3, h4, h5, h6, a, button, input, select, textarea
  font-family "San Francisco Text"

a
  color #FF6C15
  cursor pointer
  text-decoration none

a:hover
  color #a0ddc4
  text-decoration none

h1, h2
  margin 0
  text-align center

h1
  color #FF6C15
  font-weight lighter

h2
  color #999
  font-weight lighter

input
  padding 6px 12px
  border solid 1px #ccc
  border-radius 3px
  display block
  width 100%
  box-sizing border-box

form
  margin 12px 0

hr
  border none
  height 1px
  background #FF6C15

input
    font-size 12pt


.thread .actions
  padding 0 12px

.post .action
  float right


.hide
  display none!important

.full-width
  width 100%
