font-face
  font-family 'San Francisco'
  src url("/fonts/SanFranciscoText-Light.woff2") format("woff2"), url("/fonts/SanFranciscoText-Light.woff") format("woff")
  font-weight 300
  font-style normal
font-face
  font-family 'San Francisco'
  src url("/fonts/SanFranciscoText-Regular.woff2") format("woff2"), url("/fonts/SanFranciscoText-Regular.woff") format("woff")
  font-weight 400
  font-style normal
font-face
  font-family 'San Francisco'
  src url("/fonts/SanFranciscoText-Medium.woff2") format("woff2"), url("/fonts/SanFranciscoText-Medium.woff") format("woff")
  font-weight 600
  font-style normal